<footer>
  <div class="row">
    <div class="small-3 medium-2 large-2 columns">
        <img id="bobs-logo-footer" class="float-center" src="media/bobssmalllogo.png" alt="Bob's Garage Door Logo">  
  
    </div>
  
  
  
    <div  id="phone-block" class="fb-column small-6 medium-8 large-8 columns end">
        <i class="fa fa-phone fa-2x" aria-hidden="true"></i>
        <a id="phone-number"href="tel:1-208-743-3342">208.743.3342</a>
        
              
    </div>
    <div class="small-3 medium-2 large-2 columns fb-column">
          
          <span id="fb-logo"class="fa fa-facebook-square fa-3x" aria-hidden="true"></span>
          
      </div>
  
  </div>
  </footer>
  
  
  <script src="assets/js/vendor/jquery.js"></script>
      <script src="assets/js/vendor/what-input.js"></script>
      <script src="assets/js/vendor/foundation.js"></script>
      <script src="assets/js/app.js"></script>
  
