<header id="home">
  <div class="row">

     <div class="small-8 medium-6 large-4 small-centered columns">
       
        <img id="bobs-logo"src="media/bobs-logo-clear.svg" alt="Bob's Garage Door Logo">  
      
      </div> 
  

  </div>
</header>
  <nav>

  <div class="row">
      

      <ul class="menu align-center expanded dropdown" data-dropdown-menu>
          <li><a href="index.html">HOME</a></li>
          <li><a href="./#showroom">SHOWROOM</a>
            <ul>
              <li><a class="float-center" href="./brands.html">OUR BRANDS</a></li>
            </ul>
          </li>
          <li><a href="./#about">ABOUT</a></li>
          <li><a href="./#work">OUR WORK</a>
            <ul>
              <li><a class="float-center" href="projects.html">PROJECTS</a></li>
            </ul>
          </li>
          <li><a href="./#contact">CONTACT</a></li>
        </ul>
    </div>

  </nav>

  <div id="sticky-button">
      <a href="#home"><i class="fa fa-angle-up fa-3x"></i></a>
    </div>

  