---
layout: default
---
<div class="row main-row">
  
      <img src="media/bobs-hero-image.jpg" alt="Hero image">

</div>

<div class="row main-row large-collapse">

  <div class="small-12 large-8 columns">
      
      <img src="media/come-visit-resized.jpg" alt="Our showroom">

  </div>

  <div class="small-12 large-4 columns">
          <h3>COME VISIT</h3>
          <p>We have many options availible in our showroom,  
              stop in and see what we can do for you.</p>
  </div>

</div>

<div id="showroom"class="row main-row alt-row large-collapse">
      
          <div class="small-12 large-8 columns">
              
              <img id="showroom-img"src="media/showroom-resized.jpg" alt="brands we offer">
      
          </div>
      
          <div class="small-12 large-4 columns">
              <a href="brands.html">
                  <h3>SHOWROOM</h3>
              
                  <p>Take a look at the brands we offer.</p>
              </a>
          </div>
      
      </div>
  <div class="row main-row">
          
      <img src="media/about-resized-2nd.jpg" alt="Hero image">
      
  </div>

  <div id="about" class="row main-row">
      <div class="small-12 large-8 columns">
          <p></p>
      </div>
      <div class="small-12 large-4 columns">
          <h3>ABOUT</h3>
      </div>

  </div>

  <div class="row">
      <div class="small-12 large-8 columns">
      <p>Bob's Garage Door was started in 1968 by Bob and Jaenette Dickeson and has
              operated from its current location since 1977. The small family operation has
              consistently grown by providing high quality products and services at a fair price and 
              standing behind the work we do. Their son, Tod, took over the business in May of 1995 after 
              finishing school at the University of Idaho. Tod and his wife Jennifer have three children; 
              Tanner who is currently serving in the Air Force and recently married, a U of I freshman daughter, 
              Jordan, and a junior high daughter Julia.
      </p>
      <p>
              The family is very active with local organizations such as the Boys and Girls Club,
              Jackson's Pay it Forward Foundation, and Community of Call. Jennifer serves on the Board of 
              Directors for Potlatch Number 1 Federal Credit Union. The family is proud to be involved with this community and 
              enjoy being a part of a great organizations that give back.
      </p>
      </div>

  </div>

  <div id="work"class="row main-row alt-row large-collapse">
          
              <div class="small-12 large-8 columns">
                  
                  <img src="media/ourwork-resized.jpg" alt="Some of our work">
          
              </div>
          
              <div class="small-12 large-4 columns">
                  <a href="projects.html">
                      <h3>OUR WORK</h3>
                  
                      <p>See examples of projects we completed.</p>
                  </a>
              </div>
          
          </div>

   <div id="contact" class="row main-row">
      <div class="small-12 large-8 columns">
          
          <img src="media/map-resized.png" alt="Map">
          
      </div>
      <div class="small-12 large-4 columns">
          <h3>CONTACT</h3>
          
          <h5>TOD DICKESON</h5>
          <br>
          <p>
          <a href="tel:208.791.6122">
          Cell: 1-208-791-6122
          </a>
          </p>

          <p>
          <a href="tel:208.743.3342">
          Office: 1-208-743-3342
          </a>
          </p>

          <p>
          <a class="contact-link" href="mailto:tod.dickeson@gmail.com">
          tod.dickeson@gmail.com
          </a>
          </p>
          <br>
          <p>1416 Ripon Ave</p>
          <p>Lewiston ID, 83501</p>
      </div>

  </div>
